body {
  background-color: antiquewhite;
}

/*Definiendo fuentes */
.fuente {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.fuente::selection {
  background-color: yellowgreen;
}

.fuente:hover {
  color: tomato;
}

.fuente2 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  Border: solid;
  text-align: center;
}

.fuente2::selection {
  background-color: chartreuse;
}

.fuente2:hover {
  color: tomato;
}

.fuente3 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  display: flex;
}

.fuente3::selection {
  background-color: springgreen;
}

.fuente3:hover {
  color: tomato;
}

/*Grid, animacion y fuente del titulo*/
.grid-titulo {
  color: blue;
  font-size: 35px;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  text-align: center;
  animation: heartBeat;
  animation-delay: 5s;
  animation-duration: 5s;
  animation-iteration-count: 2;
}

.grid-titulo:hover {
  color: cadetblue;
}

/*Pseudoclase vinculos*/
a:hover {
  color: darkgoldenrod;
}

/*Fuente de los hipervinculos */
#vinculos {
  font-family: "Poor Story", cursive;
  font-weight: bold;
}

/*Caracteristicas de borde, color y fuente del menu de hipervinculos */
#contenedorvinculos {
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
  border: solid;
  border-style: dashed;
  border-width: thick;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1px;
  width: 290px;
  font-family: "Poor Story", cursive;
  font-weight: bold;
}

/*Caracteristicas de los iconos de las listas de los hipervinculos*/
#contenedorvinculos ul {
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
  list-style-type: upper-roman;
}

/*Caracteristicas texto lista*/
#contenedorvinculos ul li {
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(255, 154, 0) 10%, rgb(208, 222, 33) 20%, rgb(79, 220, 74) 30%, rgb(63, 218, 216) 40%, rgb(47, 201, 226) 50%, rgb(28, 127, 238) 60%, rgb(95, 21, 242) 70%, rgb(186, 12, 248) 80%, rgb(251, 7, 217) 90%, rgb(255, 0, 0) 100%);
  list-style-type: upper-roman;
}

/*Flex del logo*/
#flexlogo {
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  animation: bounce;
  animation-delay: 5s;
  animation-duration: 2s;
}

/*CSS index*/
/*Grid imagen index*/
.grid-imagen-index {
  width: 50%;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

/*Foto de index*/
.foto-index {
  width: 95%;
}

/*CSS Producto*/
/*Flex imagenes producto*/
#flexproductoimagenes {
  padding: 30px;
  display: flex;
  justify-content: center;
}

/*CSS Mascotas*/
/*Grid imagen mascotas*/
.grid-imagen-mascotas {
  width: 50%;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

/*Imagen mascotas*/
.foto-mascotas {
  width: 95%;
}

/*CSS Mascotas*/
/*Grid imagen mascotas*/
.grid-imagen-locales {
  width: 70%;
  margin: auto;
}

/*Imagen mascotas*/
.foto-locales {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
